html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#map {
    top: 0;
    bottom: 0;
    width: 100%;
    flex-grow: 1;
    height: 100;
}

#container {
    display: flex;
    height: 100%;
}

#sidebar {
    flex-shrink: 0;
    width: 200px;
    height: 100%;
    padding: 10px;
}